.clients_title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--header-color);
    text-align: center;
}

.clients_list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.clients_link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    fill: var(--icon-text-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--accent-text-color);
        border: 1px solid var(--accent-text-color);
    }
}

.clients_item:not(:last-child) {
    margin-right: 30px;
}