.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-address {
    font-style: normal;
    width: 231px;
}

.fotter-logo {
    display: inline-block;
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}

.footer-link {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}

.footer-mail,
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}