:root {
    --primery-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --background-btn-color: #F5F4FA;
    --header-color: #212121;
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --thirty-text-color: #2196F3;
    --primery-title-color: #212121;
    --secondary-title-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --icon-text-color: #AFB1B8;
    --border-color: #EEEEEE;
}