.section__ourteam {
    background-color: #F5F4FA;
}

.company {
    display: flex;
}

.company__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.company__title {
    padding-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

.company__text {
    padding-top: 0px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.company__box {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--primery-background-color);
}