.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__address {
    font-style: normal;
    width: 231px;
}

.footer__link {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}

.footer__mail,
.footer__tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}