.modal {
    padding: 40px;
    position: absolute;
    width: 500px;
    min-height: 600px;
    background-color: var(--primery-background-color);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 500ms linear;
    .backdrop & {
        transition: transform 500ms linear;
    }
}

.modal-close__icon {
    fill: currentColor;
}